<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Kamera ve dosya yazma izinlerini ekleyin -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ghostbackground"
        android:label="Ghost"
        android:roundIcon="@drawable/ghostbackground"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".AddMessageGroupPage"
            android:exported="false" />
        <!-- İlk olarak çalışmasını istediğiniz activity -->
        <activity
            android:name=".Loadingscreeen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".AramaSayfa"
            android:exported="false" />
        <activity
            android:name=".PostDetay2"
            android:exported="false" />
        <activity
            android:name=".KayitOlSayfa"
            android:exported="false"
            android:label="@string/title_activity_kayit_ol_sayfa"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".GirisSayfa"
            android:exported="false"
            android:label="@string/title_activity_giris_sayfa"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ProfilFoto"
            android:exported="false" />
        <activity
            android:name=".AramaSayfa"
            android:exported="false" />
        <activity
            android:name=".LikesFragment"
            android:exported="false" />
        <activity
            android:name=".HesapSayfa"
            android:exported="false" />
        <activity
            android:name=".AnaSayfa"
            android:exported="false" />
    </application>

</manifest>